﻿@model MEAFSImport.ViewModel.FileDirectoryResult
@{
    ViewBag.Title = "Import File(s) Page";
}
<div class="jumbotron">
    <p class="lead">MEAFS Imports.</p>
</div>

<div class="row">
    <div class="DirectoryList">
        @Html.DropDownListFor(model => model.SelectedId,
           new SelectList(Model.FileSelectResults, "Text", "Value"))
        <input id="GoSubmit" name="GoSubmit" type="button" value="Run Import Process" />
    </div>
</div>
<div class="row">
    <label id="TxtInfo"></label>
</div>
<div>
    @section scripts
{
        <script src="@Url.Content("/Scripts/Main/MEAFImports.js")"></script>
    }
</div>
